*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.counter .btn,
.counter .counter__value {
    font-size: 2rem;
}
